{
    "api" : {
        "prefix" : "/api"
    },
    "image_dl" : {
        "dir" : "/home/eleksr/img-save",
        "sleep" : 10
    },
    "upload" : {
        "dir" : {
            "mydir" : "/tmp/upload",
        },
        "auth": "iliveoncemore"
    }
}
