{
    "api" : {
        "prefix" : "/api"
    },
    "image_dl" : {
        "dir" : "/data/img-save",
        "fifo" : "data/image_dl.fifo"
    },
    "upload" : {
        "dir" : {
            "mydir" : "/data/upload",
        },
        "auth": "iliveoncemore"
    }
}
